@media only screen and (max-width: 720px) {
    .container {
        width: 100vw;
        padding: 30px 10px;
    }

    .top, .experience, .education, .certifications, .skills > div {
        flex-direction: column;
    }

    .mini-container {
        padding: 15px 10px;
    }

    .top-contact {
        margin-top: 10px;
    }
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}